body {
  margin: 0;
  font-family: Poppins;
  background-color: #353432;
}
img {
  width: 30px;
}

a {
  text-decoration: none;
  color: #eee;
}
button {
  cursor: pointer;
}
.container {
  width: 99%;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: 0.5s;
}
header {
  background-color: #616161;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.icon-cart {
  position: relative;
}
.icon-cart span {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}
.title {
  font-size: xx-large;
}

.cartTab {
  right: 0;
  width: 400px;
  max-width: 100%;
  background-color: #272727;
  position: fixed;
  color: #eee;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
  background-color: #e8bc0e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close {
  background-color: #eee;
  padding: 12px 0px;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}
.cartTab {
  right: -400px;
  transition: 0.5s;
}
body.activeTabCart .cartTab {
  right: 0;
}
body.activeTabCart .container {
  transform: translateX(-250px);
}
.listProduct .item img {
  width: 90%;
  border-radius: 2rem;
  height: 382px;
  filter: drop-shadow(0 50px 20px #0009);
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.listProduct .item {
  background-color: #454545;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
  color: #ded8c2;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
  font-weight: 600;
  color: #d69736;
}
.listCart .coupon {
  padding: 10px;
  width: 10rem;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #40403e;
}

.listProduct .item button {
  background-color: #ffaa00;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}
/*  */

.listCart .item img {
  width: 100%;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  width: 25px;
  height: 25px;
  display: flex;
  background-color: #40403e;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .quantity {
  display: flex;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
/*  */

@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
  .detail {
    grid-template-columns: 40% 1fr;
  }
}

/* mobile */
@media only screen and (max-width: 767px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .detail .image img {
    width: unset;
    height: 40vh;
  }
  .detail .name {
    font-size: x-large;
    margin: 0;
  }
  .detail .buttons button {
    font-size: small;
  }
  .detail .buttons {
    justify-content: center;
  }
}
.product-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

#searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: large;
  background: #3a3a3a;
  color: beige;
  margin-bottom: 20px;
  padding: 10px;
  width: 53rem;
  border: none;
  border-radius: 2rem;
}
#filter-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background: #3a3a3a;
  color: beige;
  padding: 10px;
  border-radius: 2rem;
}
#pagination {
  padding: 6px 12px;
  border: none;
  background: #353432;
  border-radius: 5px;
  margin-top: 20px;
  padding-bottom: 2rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#pagination button.active {
  background-color: #444; /* dark background */
  color: white;
  font-weight: bold;
  border-radius: 1rem;
}
#pagination button {
  border-radius: 12rem;
  padding: 6px 12px;
  margin: 2px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: large;
}
#pagination button:hover {
  background-color: #ffffff;
}
#pagination-limit{
  padding: 6px 12px;
  border: none;
  background: #353432;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #eee;
  font-size: large;
}
label{
  padding: 6px 12px;
  border: none;
  background: #353432;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  color: #eee;
  font-size: large;
  margin-bottom: 20px;
}
.pagination-controls {
  border: 1px solid #ccc;
  border-radius: 10rem;
  margin-bottom: 20px;
}
